@import './variables.sass'

.app
  background-color: var(--bg-primary)
  height: 100vh
.theme-wrapper
  padding: 10px
  display: flex
  align-items: center
.toggleTheme
  margin: 0px 10px
.wrapper
  padding: 200px 200px
  display: flex
  justify-items: center
  align-items: center

.input-wrapper
  margin-top: 30px
  position: relative
  width: 90%

.tooltip
  position: absolute
  top: -20px
  color: var(--text-success-primary)

.button
  margin-top: 20px
  width: 100%

.header
  font: var(--display-md-bold)
  color: var(--text-primary)

.prop
  margin-top: 10px
  display: flex
  align-items: center
  font: var(--text-md-regular)
  color: var(--text-primary)

.checkbox
  margin-right: 10px

.wrapper
  display: flex
  flex-direction: column
  width: 100%

.prop-wrapper
  width: 50%
